<li>
	{{name}}

	<button class="change-watch" data-id="{{id}}" data-newwatch="{{watch}}">
		{{#if watch}}Watch{{else}}Change Mind{{/if}}
	</button>

	<button class="delete-movie" data-id="{{this.id}}">Delete</button>
</li>